* {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #212121;
    box-sizing: border-box;
}

body {
    width: 100vw;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 1.4em;
}

h1 span {
    font-size: inherit;
}

h2 {
    font-size: 1.2em;
}


h3 {
    font-size: 1em;
}

.icon {
    object-fit: cover;
    cursor: pointer;
}

.icon.disabled {
    opacity: .25;
}

.icon:hover:not(.disabled) {
    opacity: .5;
}

.sn {
    user-select: none !important;
}

.alert {
    padding: 10px 0;
    color: #b42723;
}

.backoff {
    position: absolute;
    top: 5vh;
    right: 2vw;
    color: #3b89ee;
}


/* --- INPUTS STYLE --- */

input[type="submit"] {
    cursor: pointer;
}

input[readonly] {
    width: auto !important;
    max-width: 80px;
    user-select: none;
}

input[type="checkbox"],
input[type="radio"] {
    -webkit-appearance:none;
    appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    max-width: 20px;
    min-width: 20px;
    border-radius: 50%;
    outline: none;
    border: 1px solid #736e6e;
    box-shadow:0 0 2px 0 #949494 inset;
    background-color: white;
}

#admin input[type="checkbox"]:disabled,
#admin input[type="radio"]:disabled {
    border: 1px solid #ababab;
    box-shadow: 0 0 10px 0 #7a7a7a inset;
    background-color: #fcfcfc !important;
}

#admin input[type="checkbox"]:checked,
input[type="radio"]:checked {
    box-shadow:0 0 5px 0 #3b89ee inset;
    background-color: #a2c5f7;
}

#user input[type="checkbox"]:checked,
input[type="radio"]:checked {
    box-shadow:0 0 5px 0 #3b89ee inset;
    background-color: #a2c5f7;
}

#admin input[type="checkbox"]:disabled:checked,
#admin input[type="radio"]:disabled:checked {
    border: 2px solid #515151;
    box-shadow: 0 0 5px 0 #565656 inset;
    background-color: #ea6591 !important;
}


/* ---- USER - INDEX ---- */
#user .head .logo {
    width: 100%;
    min-height: 20vh;
    text-align: center;
}

#user .head .logo img {
    width: 250px;
    padding: 2em;
}


/* ---- USER - LOGIN ---- */
#user .login {
    width: 50%;
    text-align: center;
}

#user .login .title {
    width: 100%;
    text-align: center;
}

#user .login form {
    width: 100%;
}

#user .login form > *{
    width: 50%;
    max-width: 300px;
    min-width: 200px;
    padding: 10px;
    text-align: left;
}

#user .login form > input{
    margin-bottom: 1em;
}

#user .login form button[type="submit"] {
    width: 30%;
    max-width: 200px;
    margin-top: 1em;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    color: whitesmoke;
    background-color: #214475;
}

#user .login form button[type="submit"]:hover {
    color: white;
    background-color: #D91455;
}


/* ---- USER - PARTICIPATION ---- */
#user .participation .head > * {
    width: 100%;
    text-align: center;
}

#user .participation .head .title {
    font-size: 1.4em;
    font-weight: bold;
}

#user .participation .head .infos {
    font-size: 1em;
    font-weight: lighter;
}

#user .participation input[type="submit"] {
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
}

#user .participation .import {
    width: 100%;
    min-height: 10vh;
}

#user .participation .category {
    width: 100%;
    height: 1px;
    min-height: 50vh;
    padding: 50px;
    border-radius: 20px;
}

#user .participation .category .title {
    width: 100%;
    margin-bottom: 3px;
}

#user .participation .category .title:after {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background-color: black;
}

#user .participation .category .infos {
    width: 100%;
    margin-bottom: 20px;
    font-size: .9em;
    font-style: italic;
    color: #333;
}

#user .participation .category .question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
}

#user .participation .category .question .ask{
    font-size: 1.5em;
}

#user .participation .category .question .infos {
    text-align: center;
}

#user .participation .category .question .answer {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#user .participation .category .question .row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 20px auto;
}

#user .participation .category .question label {
    display: flex;
    min-width: 150px;
    padding: 5px;
}

#user .participation .category .question label > input {
}

/* ---- USER - PARTICIPATION - RESULTS ---- */
#user .container.diagnostics .head.infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

#user .container.diagnostics .head.infos p {
    margin-bottom: 10px;
}

#user .diagnostics .infos.results {
    font-size: 1.2em;
    text-align: right;
}

#user .diagnostics .infos.results span {
    font-weight: bold;
    font-size: 1.2em;
    color: #42739f;
}

#user .diagnostics table tr.user td {
    width: calc(100%/2);
}

#user .diagnostics table tr.user td.ask {
    width: 50%;
}

#user .diagnostics table tr.admin td {
    width: calc(100%/3);
    min-width: 200px;
}

#user .diagnostics table tr.admin td.ask {
    width: 40%;
}

#user .diagnostics table tr.admin td.type {
    max-width: 5%;
}

#user .diagnostics table td i {
    font-weight: normal;
    font-size: 1.1em;
    color: black;
}

#user .diagnostics table td:not(.category) {
    font-weight: normal;
    font-size: 1em;
    color: black;
    border-bottom: 2px solid whitesmoke;
}

#user .diagnostics table td.category {
    width: 60%;
    font-weight: bold;
    font-size: 1.2em;
}

#user .diagnostics table td .answer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2px;
}

#user .diagnostics table td .maturity {
    font-weight: bold;
    font-size: 1.1em;
    color: #42739f;
}



/* ---- ADMIN / USERS ---- */
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px 0 30px;
}

.head .icon {
    width: 100%;
    max-width: 30px;
}

#admin .container {
    width: 70%;
    margin: 0 auto;
}

#user .container {
    width: 80%;
    margin: 0 auto;
}

.container table {
    width: 100%;
}

.container table > *{
    text-align: left;
}

.container table .icon{
    width: 100%;
    max-width: 25px;
}

.container table th,
.container table td {
    width: calc(100%/8);
    padding: 5px;
}

.container table th.center,
.container table td.center {
    text-align: center;
}

.container table th.small,
.container table td.small {
    max-width: 5%;
}

.container table th.x-small,
.container table td.x-small {
    max-width: 1%;
}

.container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container form label {
    padding-left: 10px;
}

.container form input[type="submit"] {
    margin-top: 50px;
    margin-bottom: 15vh;
}

.container form select:disabled,
.container form input:disabled{
    background-color: whitesmoke;
    color: #AAAAAA;
}



/* ---- ADMIN - MENU---- */
#admin header {
    width: 100%;
    margin: 50px 0;
    text-align: center;
}

#admin header ul.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

#admin header ul.menu li {
    min-width: 100px;
    padding: 12px;
    font-size: 1.1em;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    border-radius: 10px 0 0 0;
    color: #505050;
    background-color: #fafafa;
    cursor: pointer;
}

#admin header ul.menu li:not(.active):hover {
    border-radius: 15px 0 0 0;
    background-color: #f5f4f4;
}

#admin header ul.menu li.active {
    border-bottom: none;
    color: initial;
    background-color: white;
}



/* ---- ADMIN ---- */
#admin .container.users {
    width: 80%;
}

#admin .container.user {
    width: 50%;
}

#admin .container.user form > * {
    width: 90%;
    padding: 10px;
}

#admin .pop-link {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(33, 33, 33, 0.25);
}

#admin .pop-link .copy {
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 10vh;
    padding: 10px;
    margin-bottom: 30vh;
    box-shadow: 2px 10px 25px #0000004f;
    background-color: white;
}

#admin .pop-link .copy > * {
    display: block;
    width: auto;
    padding: 10px;
    border: none;
}

#admin .pop-link .copy > input {
    text-align: center;
    background-color: whitesmoke;
}

#admin .pop-link.active {
    display: flex;
}



/* ---- ADMIN - DIAGNOSTICS ---- */
#admin .container.diagnostics {
    width: 80%;
}

#admin .container.diagnostics form > * {
    width: 50%;
    padding: 10px;
}

#admin .container.diagnostics .head .infos {
    display: block;
    width: 100%;
    font-style: italic;
}

#admin .container.diagnostics form .category,
#admin .container.diagnostics form .global {
    width: 100%;
}

#admin .container.diagnostics form .top,
#admin .container.diagnostics form .top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 2px solid whitesmoke;
    cursor: pointer;
}

#admin .container.diagnostics form .top .name {
    margin-right: auto;
}

#admin .container.diagnostics form .top label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#admin .container.diagnostics form .top input[name*="scales"] {
    max-width: 50px;
    margin-left: 10px;
    margin-right: 5px;
}

#admin .container.diagnostics form .top input[name*="global-label"] {
    max-width: 100px;
}

#admin .container.diagnostics form .category .questions {
    display: none;
    margin-bottom: 2em;
}

#admin .container.diagnostics form .category.active .questions {
    display: block;
}

#admin .container.diagnostics form .questions table {
    width: 100%;
    border-collapse: collapse;
}

#admin .container.diagnostics form .questions table tr {
    height: 70px;
}

#admin .container.diagnostics form .questions table tr.question.drag {
    opacity: .2;
}

#admin .container.diagnostics form .questions table tr.question.dragover {
    opacity: .5;
    background-color: whitesmoke;
    border-bottom: 1pt solid black;
}

#admin .container.diagnostics form .questions table td {
    text-align: left;
}

#admin .container.diagnostics form .questions table td img {
    max-width: 20px;
    float: right;
    margin-right: 20px;
    vertical-align: middle;
}

#admin .container.diagnostics form .questions table td.qlink input,
#admin .container.diagnostics form .questions table td.qnext input,
#admin .container.diagnostics form .questions table td.factor input{
    min-width: 30px;
    width: calc(100%/12);
    font-size: 12px;
    padding: 2px;
    text-align: center;
}

#admin .container.diagnostics form .questions table td.qlink input,
#admin .container.diagnostics form .questions table td.qnext input {
    min-width: 60px;
}

#admin .container.diagnostics form .questions table td.qlink.isQLinked input,
#admin .container.diagnostics form .questions table td.qnext.isQNexted input {
    background-color: #ea6591;
    box-shadow: 0 0 5px 0 #565656 inset
}

#admin .container.diagnostics .questions .question.add {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#admin .container.diagnostics .questions .question.add span {
    padding: 20px;
}

#admin .container.diagnostics .questions .question.add .icon {
    width: 100%;
    max-width: 22px;
}

#admin .container.diagnostics form .global {
    margin-top: 2em;
}

#admin .container.diagnostics.question .recap .participations{
    margin-top: 10px;
}

#admin .container.diagnostics.question .recap .participations strong{
    margin-left: 80px;
}

#admin .container.diagnostics.question .recap .questions strong{
    margin-left: 108px;
}



/* ---- ADMIN - ADD - QUESTION ---- */
#admin .container.diagnostics .create {
    width: 80%;
}

#admin .container.diagnostics .create > * {
    display: block;
    width: 100%;
    padding: 10px 0;
}

#admin .container.diagnostics .create label {
    margin-top: 20px;
}

#admin .container.diagnostics .create textarea {
    height: 50px;
    resize: vertical;
}

#admin .container.diagnostics .create .answers {
    display: flex;
    flex-direction: column;
}

#admin .container.diagnostics .create .answer {
    margin-bottom: 10px;
}

#admin .container.diagnostics .create .answer > * {
    width: 100%;
}

#admin .container.diagnostics .create .answer > input {
    padding: 5px 0;
}

#admin .container.diagnostics .create .answer .inputs {
    display: flex;
    justify-content: space-between;
}

#admin .container.diagnostics .create .answer .inputs input {
    width: 80%;
}

#admin .container.diagnostics .create .answer .inputs input[type="number"] {
    width: 10%;
    margin-left: 5px;
    margin-right: 5px;
}

#admin .container.diagnostics .create .answer .inputs .score {
    margin-left: auto;
}

#admin .container.diagnostics .create .answer .inputs .icon {
    max-width: 20px;
    margin: 0 5px;
}

#admin .container.diagnostics .create .factors {
    padding: 10px;
}

#admin .container.diagnostics .create .factors label {
    display: block;
    width: 100%;
}

#admin .container.diagnostics .create .factors span {
    display: inline-block;
    width: 200px;
    padding: 5px;
}

#admin .container.diagnostics .create .factors input {
    display: inline-block;
    width: 50px;
    padding: 5px;
}

#admin .container.diagnostics .create .qlink,
#admin .container.diagnostics .create .qnext {
    width: 100%;
    padding: 10px;
    color: black;
}

#admin .container.diagnostics .create .qlink.disabled,
#admin .container.diagnostics .create .qnext.disabled {
    color: #bdbdc4;
}

#admin .container.diagnostics .create .qlink .activate,
#admin .container.diagnostics .create .qnext .activate {
    display: block;
    width: 100%;
    margin-bottom: 0;
}

#admin .container.diagnostics .create .qlink select,
#admin .container.diagnostics .create .qnext select,
#admin .container.diagnostics .create .qlink input:not([type="checkbox"]),
#admin .container.diagnostics .create .qnext input:not([type="checkbox"]) {
    width: 50px;
    padding: 5px;
}

#admin .container.diagnostics .create .qlink select.questions,
#admin .container.diagnostics .create .qnext select.questions {
    width: 100px;
}


#admin .container.question {
    width: 50%;
}

#admin .container.question form .recap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
}

#admin .container.question form .recap .title {
    margin-top: 2em;
}

#admin .container.question form .recap .alert {
    padding: 10px 0;
    color: #b42723;
}



/* ---- ADMIN - PARTICIPATIONS ---- */
#admin .container.participations {
    width: 80%;
}

#admin .participations .create {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

#admin .container.participations form > * {
    width: 80%;
    padding: 10px;
}

#admin .container.participations form select {
    padding: 10px;
    margin-bottom: 50px;
}

#admin .container.participations form .switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

#admin .container.participations form .switch input {
    margin-left: 5px;
}

#admin .container.participations form .switch input[name="search"] {
    min-width: 300px;
    padding: 2px 5px;
    margin-left: 10px;
}


#admin .container.participations form label[for="username"] {
    margin-left: auto;
}

