
<option value="">...</option>
{% for user in users %}
    <option value="{{ user.id }}">{{ user.username }} - {{ user.email }}{{ user.company is defined ? " (" ~ user.company ~ ")": "" }}</option>
{% endfor %}
