<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ScaleChanger - {{ title is defined ? title : 'Bienvenue' }}{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css">
        {% endblock %}

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet">
    </head>
    <body>
        {% if app.user %}
            <div class="backoff">
                {% if "ROLE_ADMIN" in app.user.roles %}
                    <a href="{{ path('admin_index') }}">BackOff&nbsp;|&nbsp;</a>
                {% endif %}
                <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        {% block body %}{% endblock %}
    </body>

    {% block javascripts %}{% endblock %}
</html>
